/*header.php*/
.logo {
    height: 7em;
    width: 7em;
    padding: 12px;
}


/*index.php*/
.texte_superpose {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    top: 1cm;
    margin-top: 1cm;
    color: rgb(253, 252, 252);
}

/*class lien sur siteNautique.php et footer.php*/
.lien:link {
    text-align: right;
    color: #faf3f3;
    font-style: normal;
    text-decoration: none;
    padding: 0 25px;
}

.lien:hover {
    color: #830606;
}

.lien:visited {
    color: #403a3a;
    font-style: normal;
    text-decoration: none;
}






/*espacement sur margin top de la barre de recherche en index.php !! ATTENTION SI P EST UTILISE AILLEURS*/
.me-2,
p {
    margin-top: 1%;
}


/*espacement entre les link de la navbar->bootStraps*/
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
}

/*index.php*/
.img_index {
    padding-bottom: 20px;
    padding-top: 16px;
}

/*en plus des photos des users , la photo de la page validationCompte.php*/
.imgPhoto {
    padding-top: 3%;
    padding-bottom: 3%;

}

/*div autour photo enTete de siteNautique.php, tous les profils et tous les form */
.imgEnTete {
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;

}

/*liseré sur photo enTete de siteNautique.php*/
.imgBord {
    border: 9px solid rgba(252, 249, 249, 0.37);
}

.imgSejResa {
    padding: 20px;
    /*arrondis Photo*/
    border-radius: 25px;
    color: #6f6d6d;
    max-width: 300px;
    max-height: 300px;
}

/*formCon dans tous les form*/
.formConx {
    display: inline-table;
    margin: 1cm;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    padding-right: 10px;
}

label.check {
    display: flex;
    margin-left: 10px;
    margin-top: 3%;
}

/*toutes les balises input, textarea (formEnregSejour, formEnregBateau dans les descritions) et label*/
label,
input,
textarea {
    display: -webkit-box;
    margin-bottom: 10px;
    background: unset;
    color: #ffffff;
    border-bottom-color: unset;
}

/*complément textarea*/
textarea {
    vertical-align: top;
    border-color: rgb(61, 60, 60);
    border-width: 1px;
    border-bottom-color: white;
    border-bottom-width: 2px;
}

/*tous les boutons submit*/
.buttonSub {
    display: block;
}

.carousel-inner {
    max-width: 400px;
    /* Largeur maximale souhaitée */
    height: auto;
    /* Hauteur automatique pour conserver les proportions */
    object-fit: contain;
    /* Ajuste l'image tout en conservant ses proportions */
}

/* Style pour le conteneur du carousel */
.carousel-item {
    width: 400px;
    /* Assurez-vous que le conteneur du carousel a la même largeur que les images */
    height: 700px;
    /* Hauteur souhaitée pour le conteneur */
    overflow: hidden;
    /* Masque les parties de l'image qui dépassent du cadre */
}

/*dans mentionLeg.php*/
.cnil:link,
.cnil:visited {
    text-decoration: underline;
    font-family: Verdana;
    font-variant-caps: all-small-caps;
    color: #41a6c2;
}

.header {
    width: auto;
    margin-bottom: 1cm;
    margin-top: 0.5cm;
    display: block;
    background-color: #5d616698;
    background-size: 10px;
    padding: 0.2cm;
    font-family: Arial, Helvetica, sans-serif;
    color: #ebe9e9;
    font-weight: 200;
}

/*body dans header.php */
body {

    background-color: #6f6d6d;
    color: #3b3a3a;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-position: center;
    background-size: cover;
    text-align: center;
}

/*profil.php*/
.h4 {
    padding-top: 20px;
    padding-bottom: 10px;
}

/*ce qui se trouve dans l'encadrer du form de formEnregMembre pour le password "inclure une majuscule...."*/
#pass,
#confirmPass {
    font-size: 12px;
}

/*text-muted (petit caractères sous les cases) de formEnregBateau.php et formEnregSejour.php*/
.text-muted {
    color: #f5f8f8 !important;
    margin-top: 5% !important;
    margin-bottom: 0%;
    font-size: xx-small;
}

/*texte de la checkbox pour afficher le mdp*/
.form-check-input:checked {
    background-color: #4d4b4d;
    border-color: #cec8d3;
}

/*siteNautique.php (bouton reservation quand on fait une recherche depuis la barre de recherche de l index) */
.buttonRes {
    display: inline-flex;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(78, 74, 74);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.buttonRes:hover {
    color: #180f69;
    background-color: #848981;
    border-color: #dc22ad;
}

/*tous les elements des form ayant la terminaison .mb-3 dans leur nom de class*/
.mb-3 {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

/*
#canvasContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#canvasContainer canvas {
    width: 100%;
    height: auto;
    border: 1px solid black;
}*/

.footer {

    text-align: center;
    background-color: #929191;
    padding: 1%;
    display: block;
    clear: both;
    color: #6f6d6d;
    border-top: 14px;
}

/*message invitant à choisir un sej pour reserver apres redir sur sejour.php depuis la page reservation.php 
quand l'idSejour est abs ou quand on clique sur le lien faire une reservation (ce lien est en travaux..)*/
.alertMessage {
    font-size: large;
    color: #961c1c;
    font-weight: bold;
}

/*dans reservation.php*/
.titreResa {
    color: white;
    font-weight: bold;
}